<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Online Payments Fraud Detection - Home</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }

            header {
                background-color: #333;
                color: white;
                padding: 1em;
                text-align: center;
            }

            main {
                padding: 20px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Online Payments Fraud Detection</h1>
        </header>

        <main>
            <p>
                Welcome to the Online Payments Fraud Detection system. <br />
                Our advanced machine learning model is designed to analyze
                transaction data and identify potential fraudulent activities in
                online payments.
            </p>

            <p>
                Click the button below to navigate to the prediction page, where
                you can input transaction details and receive a prediction
                regarding the legitimacy of the transaction.
            </p>
            <a href="predict"><button>Predict</button></a>
        </main>
    </body>
</html>
